@inject HttpClient Http
@inject IMatToaster matToaster
@inject NavigationManager navigationManager
@page "/maps"


<div class="maps-container">
    @foreach (Map map in this.maps)
    {
        <div class="map-item map-@(map.Difficult) map-tier-@GetTier(map.MinLevel)" @onclick="() => StartBattle(map)">
            <img src="@(GetThumbnail(map.SrcImg))" />
            <span class="map-name"> Name: @map.Name</span>
            <span class="min-level"> Min Level: @map.MinLevel</span>
            <span class="map-difficult"> Difficult: @map.Difficult.ToString()</span>
            <span class="map-reward"> Reward: TBD</span> <!-- TODO: Reward tooltip -->
            <!-- TODO: Hacer candado con tooltip de nivel o required monster etc-->
        </div>
    }
</div>

@code {
    List<Map> maps = new List<Map>();
    protected override async Task OnInitializedAsync()
    {
        await GetAllCards();
    }

    private async Task GetAllCards()
    {
        ApiResponseDto apiResponse = await Http.GetJsonAsync<ApiResponseDto>("api/map/GetAll");

        if (apiResponse.StatusCode == Status200OK)
        {
            matToaster.Add(apiResponse.Message, MatToastType.Success, "Map List Retrieved");
            this.maps = Newtonsoft.Json.JsonConvert.DeserializeObject<Map[]>(apiResponse.Result.ToString()).ToList<Map>();
        }
        else
        {
            matToaster.Add(apiResponse.Message + " : " + apiResponse.StatusCode, MatToastType.Danger, "Todo List Retrieval Failed");
        }
    }

    private void StartBattle(Map map)
    {
        navigationManager.NavigateTo($"battle/{map.Enemies.FirstOrDefault().Id}");
    }

    private string GetTier(int minLevel)
    {
        return Math.Ceiling((double)minLevel / 5.0).ToString();
    }

    private string GetThumbnail(string img)
    {
        return img.Replace(".png", "_thumb.png");
    }

}
