<div class="uicard-container uicard-element-@Element uicard-rarity-@Rarity mat-elevation-z4">
    <div class="uicard-title">
        <div> @Name </div>
        <div> @Tier  </div>
    </div>
    <MatDivider> </MatDivider>
    <div class="uicard-image"> <img src="@ImgSrc" /> </div>
    <MatDivider> </MatDivider>
    <div class="uicard-footer">
        <div class="uicard-footer-up">
            <div> <img class="card-icon icon-health" src="_content/SurrealCB.CommonUI/icons/health.svg" /> @Hp </div>
            <div> <img class="card-icon icon-atk" src="@GetAtkIcon()" /> @Atk </div>
            <div> <img class="card-icon icon-shield" src="_content/SurrealCB.CommonUI/icons/shield.svg" /> @Def </div>
            <div> <img class="card-icon icon-imm" src="_content/SurrealCB.CommonUI/icons/wall.svg" /> @(Imm)% </div>
            <div> <img class="card-icon icon-speed" src="_content/SurrealCB.CommonUI/icons/speed.svg" /> @Spd </div>
        </div>
        <div class="uicard-footer-down">
            @if (Passives != null)
            {
                foreach (CardPassive passive in Passives)
                {
                    @if (passive != null)
                    {
                        <UICardPassive CPassive="@passive" />
                    }
                }
            }
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public int Tier { get; set; }
    [Parameter]
    public int Hp { get; set; }
    [Parameter]
    public int Atk { get; set; }
    [Parameter]
    public int Def { get; set; }
    [Parameter]
    public int Imm { get; set; }
    [Parameter]
    public double Spd { get; set; }
    [Parameter]
    public string ImgSrc { get; set; }
    [Parameter]
    public Rarity Rarity { get; set; }
    [Parameter]
    public AtkType AType { get; set; }
    [Parameter]
    public Element Element { get; set; }
    [Parameter]
    public List<Rune> Runes { get; set; }
    [Parameter]
    public List<CardPassive> Passives { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

    }

    private string GetAtkIcon() =>
        this.AType switch
        {
            AtkType.RANDOM => "_content/SurrealCB.CommonUI/icons/atk_random.svg",
            AtkType.ALL => "_content/SurrealCB.CommonUI/icons/atk_all.svg",
            AtkType.HEAL => "_content/SurrealCB.CommonUI/icons/atk_heal.svg",
            _ => "_content/SurrealCB.CommonUI/icons/sword.svg",
        };
}